
h1{
  font-size: 70px;
}

/*Mobile*/
@media only screen and (max-width: 40em) { } 
  

/*Ipad*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) { } 
  

/*Desktop*/
@media only screen and (min-width: 64.063em) { 

body{ 
font-weight: 700px;
font-family: 'Lato', sans-serif;

}

header  {
 background-color: #202127;
 background-image: url("/images/border.png");
 background-repeat: repeat-x;
 font-family: 'Lato', sans-serif;

}

header .row{
     /*background-color: violet;  */
}

 nav.top-bar{
    height: 143px;
    /*background-color: orange;*/
    background-color: transparent;
  }

nav.top-bar .title-area{
    height: 143px;
    background-color: red;
}

nav.top-bar .title-area span{
  font-size: 45px;
  color: #1ACAC8;
  display: inline-block;  
}

nav.top-bar .title-area span#Flappy {
  position: absolute;
  display: inline-block;
  margin-top: 50px;

}
nav.top-bar .title-area span#App{
  position: absolute;
  display: inline-block;   
  margin-left: 220px;
  margin-top: 50px; 
}

nav.top-bar .title-area img{
  position: absolute;
  margin-top: 45px;
  margin-left: 130px;
}


nav.top-bar .top-bar-section ul.right > li {
  background-color: yellowgreen;
  height: 50px;
}

nav.top-bar .top-bar-section ul.right{
  height: 50px; 
  background-color: yellow;
  margin-top: 43px;
  background-color: transparent;
}

nav.top-bar .top-bar-section ul.right > li > a{
  height: 50px;
  border-bottom: 5px solid #1ACAC8;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px; 
  font-weight: 700px;
  color: #1ACAC8;
}

nav.top-bar .top-bar-section ul.right > li > a.first-child {
  padding-left: 2px
}

nav.top-bar .top-bar-section ul.right > li > a.last-child{ 
padding-right: 2px;}


nav.top-bar .top-bar-section ul.right > li > a:hover{
  color: #FFF;
  border-bottom: solid white;

}

#content{
  padding-top: 50px;
  background-color: salmon;
}
#content .row{
 
  background-color: grey;
}



#content #feature{
  background-image: url("../images/scenery.png");
  background-size: cover; 
  width: 100%;
  height: 300px;
  background-position: right;
}
#content ul{

  list-style: none;
  line-height: 42px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  background-color: #1ACAC8;
}

#content ul li{
   padding: 0px 20px;
}


#content ul li span{
  color: white;
}

footer{ 
  background-color: yellow;
}

footer .row{

  background-color: magenta;
}

}


