

/*Mobile*/
@media only screen and (max-width: 40em) { 

  header{ 
    background-image: url("../images/border.png");
    background-repeat: repeat-x;
    height: 100px;
  } 

  header .row{
    background-color: orange;
    height: 100px;
  }

  nav.top-bar{
    height: 100px;

  }

  nav.top-bar .title-area{
    
  }

  nav.top-bar .title-area h1{
    
  }

  nav.top-bar .title-area img{
    position: absolute;
    margin-left: 20px;
    width: 90px;
  }

   nav.top-bar .title-area h1 {
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 120px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
  }

   nav.top-bar .title-area h1 span#Flappy{
    position: absolute;
    display: inline; 
    color: #1ACAC8;    
    font-family: 'Lato', sans-serif;
  }

  nav.top-bar .title-area span#App{
    position: absolute;
    display: inline;   
    margin-left: 100px; 
    color: white;
    font-family: 'Lato', sans-serif;
  }

  .top-bar .toggle-topbar.menu-icon a:after{
    color: #1ACAC8;
  }

  #content{ 
    background-color: transparent;
    width: 100%;
  }

  #content .row {
    background-color: transparent; 
  }

  #content #feature {
    background-color: grey;
    background-image: url("../images/scenery.png");
    background-size: cover; 
    width: 100%;
    height: 300px;
    font-weight: 700; 
  }

  #content ul{
    width: 100%;
    list-style: none;
    line-height: 59px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    background-color: #1ACAC8;
    margin-left: 0px;
  }

  #content ul li{
     border-bottom: 2px solid #21908F;
     font-weight: 700;
     font-family: 'Lato', sans-serif;
  }

  .columns {
  padding-left: 0px;
  padding-right: 0px;
}

#content ul li span{
    color: white;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 0px 2px;
   
  }

  #content p{
    font-weight: 700;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px; 
  }

  footer{ 
    background-color: #202127;
    background-image: url("../images/border.png");
    background-repeat: repeat-x;
  }

   footer .row .row{
    margin-top: 50px;
  }
  
  footer .row ul{
    list-style: none;
  }
  footer .row ul li{
    line-height: 40px;
    font-family: Lato, sans-serif;
  }

  footer .row ul:first-child{
    padding-left: 30px;
  }

  footer .row ul li a{
    color: #1ACAC8;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-weight: 700;
  }

  footer .row ul li a:hover{
    color: white;
  }

  footer .row p{
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: white;
}
}
/*Ipad*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
    
  header{ 
    height: 120px;
    background-image: url("../images/border.png");
    background-repeat: repeat-x;
  }

  header .row{
    height: 120px;
  }

  nav.top-bar {
    height: 120px;
  }

  nav.top-bar .title-area {
  
  }

  nav.top-bar .title-area h1{
    
  }

  nav.top-bar .title-area img{
    position: absolute;
    margin-top: 20px;
    margin-left: 50px;
    width: 90px; 
  }

  nav.top-bar .title-area h1 {
    position: absolute;
    text-transform: uppercase;
    margin-left: 150px;
    letter-spacing: 3px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
  }

  nav.top-bar .title-area h1 span#Flappy{
    position: absolute;
    display: inline;
    margin-top: 10px; 
    color: #1ACAC8;    
    font-family: 'Lato', sans-serif;
  }

  nav.top-bar .title-area span#App{
    position: absolute;
    display: inline;   
    margin-top: 40px; 
    color: white;
    font-family: 'Lato', sans-serif;
  }

  nav.top-bar .top-bar-section ul.right > li {
      font-family: 'Lato', sans-serif;
  }

  nav.top-bar .top-bar-section ul.right{
    margin-right: 50px; 
    margin-top: 30px;
    
  }

  nav.top-bar .top-bar-section ul.right > li > a{
    height: 50px;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 2px; 
    font-size: 14px;
    font-weight: 700;
    color: #1ACAC8;
    font-family: 'Lato', sans-serif;
  }

  nav.top-bar .top-bar-section ul.right > li > a:hover{
    color: #FFF;
  }

  #content{ 
    background-color: transparent;
    width: 100%;
  }

  #content .row {
    background-color: transparent; 
  }

  #content .row .row {
    
  }

.columns {
  padding-left: 0px;
  padding-right: 0px;
}

  #content #feature {
    background-color: grey;
    background-image: url("../images/scenery.png");
    background-size: cover; 
    width: 100%;
    height: 300px;
    font-weight: 700; 
  }

  #content ul{
    width: 100%;
    list-style: none;
    line-height: 59px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    background-color: #1ACAC8;
    margin-left: 0px;
  }

  #content ul li{
     border-bottom: 2px solid #21908F;
     font-weight: 700;
     font-family: 'Lato', sans-serif;
  }

  #content ul li span{
    color: white;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 0px 2px;
   
  }

  #content p{
    font-weight: 700;
    font-size: 30px;
    font-family: Lato, sans-serif;
  }

  footer{ 
    background-color: #202127;
    background-image: url("../images/border.png");
    background-repeat: repeat-x;
  }

  footer .row .row{
    margin-top: 50px;
  }
  
  footer .row ul{
    list-style: none;
  }
  footer .row ul li{
    line-height: 40px;
    font-family: Lato, sans-serif;
  }

  footer .row ul:first-child{
    padding-left: 30px;
  }

  footer .row ul li a{
    color: #1ACAC8;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-weight: 700;
  }

  footer .row ul li a:hover{
    color: white;
  }

  footer .row p{
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: white;
}

}

/*Desktop*/
@media only screen and (min-width: 64.063em) { 

  body{ 
  font-weight: 700px;
  font-family: 'Lato', sans-serif;

  }

  header  {
   background-color: #202127;
   background-image: url("/images/border.png");
   background-repeat: repeat-x;
   font-family: 'Lato', sans-serif;
   font-weight: 700; 

  }

  header .row{
       /*background-color: violet;  */
  }

   nav.top-bar{
      height: 143px;
      /*background-color: orange;*/
      background-color: transparent;
    }

  nav.top-bar .title-area{
      height: 143px;
      /*background-color: red;*/
  }

  nav.top-bar .title-area span{
    font-size: 45px;
    color: #1ACAC8;
    display: inline-block;  
  }

  nav.top-bar .title-area h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 10px;
  }

  nav.top-bar .title-area span#Flappy {
    position: absolute;
    display: inline-block;
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
    

  }
  nav.top-bar .title-area span#App{
    position: absolute;
    display: inline-block;   
    margin-left: 300px;
    margin-top: 50px; 
    font-family: 'Lato', sans-serif;
    
  }

  nav.top-bar .title-area img{
    position: absolute;
    margin-top: 35px;
    margin-left: 208px;
  }


  nav.top-bar .top-bar-section ul.right > li {
    height: 50px;
  }

  nav.top-bar .top-bar-section ul.right{
    height: 50px; 
    margin-top: 43px;
    background-color: transparent;
    font-family: 'Lato', sans-serif;
  }

  nav.top-bar .top-bar-section ul.right > li > a{
    height: 50px;
    border-bottom: 5px solid #1ACAC8;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 2px; 
    font-size: 14px;
    font-weight: 700;
    color: #1ACAC8;
    font-family: 'Lato', sans-serif;
  }

  nav.top-bar .top-bar-section ul.right > li > a.first-child {
    padding-left: 2px
  }

  nav.top-bar .top-bar-section ul.right > li > a.last-child{ 
  padding-right: 2px;}


  nav.top-bar .top-bar-section ul.right > li > a:hover{
    color: #FFF;
    border-bottom: solid white;

  }

  #content{
    padding-top: 50px;
    /*background-color: salmon;*/
  }
  #content .row{
   
    /*background-color: grey;*/
  }

  #content .row .row .large-8{
    padding-right: 5px;
  }


  #content #feature{
    background-image: url("../images/scenery.png");
    background-size: cover; 
    width: 100%;
    height: 300px;
    font-weight: 700; 
    background-position: right;
    border: solid 3px black;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.42);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.42);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.42);
  }
  #content ul{
    width: 310px;
    list-style: none;
    line-height: 59px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    background-color: #1ACAC8;
    font-family: 'Lato', sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.42);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.42);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.42);
  }

  #content ul li{
     padding: 0px 20px;
     border-bottom: 2px solid #21908F;
     font-weight: 700;
     font-family: 'Lato', sans-serif;
  }


  #content ul li span{
    color: white;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 0px 2px;
   
  }

  #content ul li.features-first-child{
    background-color: #202127;
    color: #1ACAC8;
  }

  #content p{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 30px;
  }

  footer{ 
    background-color: #202127;
    background-image: url("../images/border.png");
    background-repeat: repeat-x;
  }

footer .row .row{
  margin-top: 50px;
}
  footer .row ul{
    list-style: none;
    border-left: solid 3px #1ACAC8;
  }

  footer .row ul li{
    
   margin-bottom: 10px;
  }

footer .row ul li:last-child{
  margin-bottom: 0px;

}
  footer .row ul li a{
    color: #1ACAC8;
    padding-left: 15px; 
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
  }

  footer .row ul li a:hover{
    color: white;
  }

footer .row p{
  background-color: #1ACAC8;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  margin-left: 15px;

}

}